 <html> 
    <head> 
        <title>BMI Calculation</title> 
        <style>
            .box{
                margin-left: 40%;
                margin-top: 10%;
                background-color: rgb(180, 239, 175);
                width:fit-content;
                border: 3px solid rgb(13, 13, 13);
                padding:10px;
                text-decoration: underline;
            }
             .body{
                    background-color: rgb(35, 67, 33);
            }

        </style>
        <link rel="stylesheet" href="style.css">
    </head> 
    <body class="body">
            <div class="box"> 
                <h1>BMI CALCULATION</h1>
                <form method="POST">
                        {%csrf_token %}
                    <div> 
                            Height<input type="text" name="height" value="{{h}}">(in cm)
                    </div><br>
                    <div> 
                            Weight:<input type="text" name="weight" value="{{w}}">(in kg)
                    </div><br>
                        <div> 
                            <input type="submit" value="Calculate" class="button"><br> 
                       </div><br>
                      <div> 
                         BMI:<input type="text" name="bmi" value="{{bmi}}">
                      </div><br>
                </form>
               </div>
   </body>
</html>